<div class="container" id="body">
  <div class="row justify-content-center">
       <h1>Access Request <br> <span class="badge badge-primary text-left">Data</span></h1>
      <br>
    <form #form="ngForm">
      <div class="form-row">
        <div class="form-group col-md-2">
          <label for="inputEmail4">Id</label>
          <input type="number" class="form-control" id="inputEmail4" required placeholder="Id" name="id" ngModel #id>
        </div>
        <div ngModelGroup="nombres" #nombres="ngModelGroup">
          <label for="inputPassword4">Name1</label>
          <input type="text" class="form-control" id="inputPassword4" required placeholder="Name1"  name="nombre1" ngModel #nombre1 >
        </div>
        <div class="form-group col-md-4">
          <label for="inputEmail4">Street</label>
          <input type="text" class="form-control" id="inputEmail4" required placeholder="Street" name="street" ngModel #street="ngModel" sin-espacios>
          <div *ngIf="street.errors">
            <div *ngIf="street.errors.sinEspacios" class="alert alert-danger" >No se permiten espacios en blanco</div>
          </div>
        </div>
        <div class="form-check form-check-inline">
          <label class="form-check-label" for="inlineCheckbox1">Work</label>
          <input class="form-check-input" type="checkbox" id="inlineCheckbox1" required value="option1" name="work" ngModel #work>
        </div>
      </div>
      <hr>
      <!--SEGUNDA FILA-->
      <div class="form-row">
        <div class="form-group col-md-2">

        </div>
        <div ngModelGroup="nombres" #nombres="ngModelGroup">
          <label for="inputPassword4">Name2</label>
          <input type="text" class="form-control" id="inputPassword4" placeholder="Name2" name="nombre2" ngModel #nombre2>
        </div>
        <div class="form-group col-md-5">
          <label for="inputEmail4">Contact Name</label>
          <input type="text" class="form-control" id="inputEmail4" required placeholder="Contact Name" name="contact" ngModel #contact>
        </div>
      </div>
      <!--tercer-->
      <div class="form-row">
        <div class="form-group col-md-2">
        </div>
        <div ngModelGroup="nombres" #nombres="ngModelGroup">
          <label for="inputPassword4">Name3</label>
          <input type="text" class="form-control" id="inputPassword4" placeholder="Name3" name="nombre3" ngModel #nombre3>
        </div>
        <div class="form-group col-md-2">
          <label for="inputEmail4">City</label>
          <input type="text" class="form-control" id="inputEmail4" required placeholder="City" name="city" ngModel #city>
        </div>
        <div class="form-group col-md-2">
          <label for="inputEmail4">Country</label>
          <input type="text" class="form-control" id="inputEmail4" maxlength="3" required placeholder="Country" name="country" ngModel #country="ngModel" sin-espacios>
          <div *ngIf="country.errors">
              <div *ngIf="country.errors.sinEspacios" class="alert alert-danger" >No se permiten espacios en blanco</div>
          </div>
        </div>
        <div class="form-group col-md-2">
          <label for="inputEmail4">Phone</label>
          <input type="tel" class="form-control" id="inputEmail4" required placeholder="Phone" name="phone" ngModel #phone>
        </div>
      </div>
      <!--cuarta-->
      <div class="form-row">
        <div class="form-group col-md-2">
        </div>
        <div ngModelGroup="nombres" #nombres="ngModelGroup">
          <label for="inputPassword4">Name4</label>
          <input type="text" class="form-control" id="inputPassword4" placeholder="Name4" name="nombre4" ngModel #nombre4>
        </div>
        <div class="form-group col-md-2">
          <label for="inputEmail4">State</label>
          <input type="text" class="form-control" id="inputEmail4" maxlength="2" required placeholder="State" name="state" ngModel #state>
        </div>
        <div class="form-group col-md-2">
          <label for="inputEmail4">Zip/Cd</label>
          <input type="number" class="form-control" id="inputEmail4" maxlength="5"  required placeholder="Zip" name="zip" ngModel #zip>
        </div>
        <button type="button" class="btn btn-primary btn-lg" disabled>Save</button>
      </div>
      <hr>
      </form>
      <br>
      
      <div id="cap" class="alert alert-primary col-md-8" role="alert">
          <p> <strong>MUESTRA DE CAPTURA</strong></p>
          <p>Formulario: {{form.value | json}}</p>
        </div>
      </div>
    </div>
      
 

 
 
 